@charset "UFT-8"; 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');



:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Montserrat', sans-serif;
}


* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte1);
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: drak;
}

header {
    background-color: black;
    color: white;
    text-align: center;
} 

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4em;
}

header > p {
    padding-bottom: 50px;
    font-family: var(--fonte2);
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 25px;
    font-family: var(--fonte2);
    font-size: 18px;
}

section.normal {
    background-color: white;
    color: black;
    font-family: var(--fonte2);
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    font-family: var(--fonte2);
    box-sizing: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#ima01 {
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

section#ima02 {
    background-image: url('../imagens/background002.jpg');
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: black;
    text-align: center;
}
footer > p {
    color: white;
    font-family: var(--fonte2);
}

footer > p a:hover {
   color: rgb(217, 205, 252);
   text-decoration: none;
}